html {
  font-size: max(16px, calc(12px + min(0.5vw, 0.9vh)));
  font-family: "Mulish", "Muli", sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  max-width: 180vh;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.content-row {
  display: flex;
  flex: 1;
  margin: 0 3rem;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

header {
  flex: 0 0 auto;
  height: 6rem;
}

header .header-left {
  flex: 1 1 100%;
  align-self: baseline;
}

header .header-center {
  flex: 0 1 auto;
  align-self: baseline;
  text-align: center;
  max-width: min(calc(70vw - 20em), calc(100vh - 7.5rem));
}

header .header-center h1 {
  font-size: 2rem;
  font-weight: 800;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

header .header-center .setter {
  white-space: nowrap;
  /* Maybe this needs a different font size. Not sure. */
}

header .header-right {
  flex: 1 1 100%;
  align-self: baseline;
  text-align: right;
}

main {
  flex: 1 0 auto;
  display: flex;
}

main > .content {
  flex: 1;
}

main .left-panel {
  flex: 1 1 100%;
}

main .center-panel {
  flex: 0 0 auto;
  /* maintain square aspect ratio */
  width: min(calc(70vw - 20em), calc(100vh - 7.5rem));
  height: min(calc(70vw - 20em), calc(100vh - 7.5rem));
}

main .right-panel {
  flex: 1 1 100%;
}

@media (max-width: 800px) and (max-aspect-ratio: 5/4), (max-width: 600px) {
  header .header-center {
    flex: 1 1 auto;
    max-width: none;
  }
  header .header-left, header .header-right {
    display: none;
  }

  main .content-row {
    flex-direction: column;
  }
  main .center-panel {
    width: min(calc(100vw - 6rem), 50vh);
    height: min(calc(100vw - 6rem), 50vh);
    align-self: center;
  }
  main .left-panel {
    display: none;
  }
}

footer {
  flex: 0 0 auto;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

ul.header-buttons {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

ul.header-buttons.left {
  justify-content: flex-start;
}

ul.header-buttons.right {
  justify-content: flex-end;
}

ul.constraints-list, ul.constraints-list ul {
  padding: 0;
  list-style-type: none;
}

ul.constraints-list .constraint-row {
  white-space: nowrap;
}

ul.constraints-list .constraint-row:before, ul.constraints-list .constraint-row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

ul.constraints-list .constraint-row:after {
  clear: both;
}

ul.constraints-list .constraint-row .constraint-row-left {
  float: left;
}

ul.constraints-list .constraint-row .constraint-row-right {
  margin-left: 0.5em;
  float: right;
}

ul.constraints-list .constraint-row .constraint-row-right .constraint-iconbutton {
  margin-left: 0.5em;
  display: inline-block;
}

ul.constraints-list .section-title {
  margin: 0.5em 0;
  font-weight: 800;
  white-space: nowrap;
}

ul.constraints-list form > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.icon {
  display: block;
}

.icon::before {
  display: block;
  width: 100%;
}

.icon.icon-inline {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.icon.icon-inline::before {
  content: "";
  display: inline-block;
}

.icon.icon-trash {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M13.67,2h0a1,1,0,0,1-1,1H3.33a1,1,0,0,1-1-1h0a1,1,0,0,1,1-1h1.6l.79-1h4.56l.79,1h1.6A1,1,0,0,1,13.67,2Z'/%3E%3Cpath class='cls-1' d='M13.4,4v9.77A2.23,2.23,0,0,1,11.17,16H4.62A2.22,2.22,0,0,1,2.4,13.77V4Z'/%3E%3C/svg%3E");
}

.icon.icon-warning {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M8.07,2.06a6,6,0,1,0,6,6A6,6,0,0,0,8.07,2.06Zm1,10h-2v-2h2Zm-.47-3H7.42l-.62-5H9.2Z'/%3E%3C/svg%3E");
}

.icon.icon-tree-menu-hidden {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='4.4 16 12.4 8 4.4 0 4.4 16'/%3E%3C/svg%3E");
}

.icon.icon-tree-menu-shown {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='0 6.11 8 14.11 16 6.11 0 6.11'/%3E%3C/svg%3E");
}

.icon.icon-positive-diagonal {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M12.56,1.5A1.94,1.94,0,0,1,14.5,3.44v9.12a1.94,1.94,0,0,1-1.94,1.94H3.44A1.94,1.94,0,0,1,1.5,12.56V3.44A1.94,1.94,0,0,1,3.44,1.5h9.12m0-1.5H3.44A3.44,3.44,0,0,0,0,3.44v9.12A3.44,3.44,0,0,0,3.44,16h9.12A3.44,3.44,0,0,0,16,12.56V3.44A3.44,3.44,0,0,0,12.56,0Z'/%3E%3Crect class='cls-1' x='-1.49' y='7.25' width='19.14' height='1.5' transform='translate(-3.29 8.06) rotate(-45)'/%3E%3C/svg%3E");
}

.icon.icon-negative-diagonal {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M12.56,1.5A1.94,1.94,0,0,1,14.5,3.44v9.12a1.94,1.94,0,0,1-1.94,1.94H3.44A1.94,1.94,0,0,1,1.5,12.56V3.44A1.94,1.94,0,0,1,3.44,1.5h9.12m0-1.5H3.44A3.44,3.44,0,0,0,0,3.44v9.12A3.44,3.44,0,0,0,3.44,16h9.12A3.44,3.44,0,0,0,16,12.56V3.44A3.44,3.44,0,0,0,12.56,0Z'/%3E%3Crect class='cls-1' x='7.25' y='-1.49' width='1.5' height='19.14' transform='translate(-3.37 8.03) rotate(-45)'/%3E%3C/svg%3E");
}

.icon.icon-knight {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M15,16H3a5.54,5.54,0,0,1,4-6c2.1-.7,4-1,3-4,1.55,4.66-5,2-6,5L2,10,3,9,2,8,1,9V6L5,4C5,3,7,3,8,2L9,0l1,2C17,5,13,11,15,16Z'/%3E%3C/svg%3E");
}

.icon.icon-king {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M13,12l1,4H3l1-4C1.89,10.12,1,8.58,1,7A3.72,3.72,0,0,1,5,3C6,3,6.8,4.4,7,5A14.39,14.39,0,0,0,8,3V2H7V1H8V0H9V1h1V2H9V3a13.22,13.22,0,0,0,1,2c.18-.61,1-2,2-2a3.86,3.86,0,0,1,4,4C16,8.61,15.12,10.14,13,12Z'/%3E%3C/svg%3E");
}

.icon.icon-disjoint {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M11.93,0H4.07A4.07,4.07,0,0,0,0,4.07v7.86A4.07,4.07,0,0,0,4.07,16h7.86A4.07,4.07,0,0,0,16,11.93V4.07A4.07,4.07,0,0,0,11.93,0ZM14.5,11.93a2.57,2.57,0,0,1-2.57,2.57H4.07A2.57,2.57,0,0,1,1.5,11.93V4.07A2.57,2.57,0,0,1,4.07,1.5h7.86A2.57,2.57,0,0,1,14.5,4.07Z'/%3E%3Ccircle class='cls-1' cx='8' cy='12' r='1'/%3E%3Ccircle class='cls-1' cx='12' cy='12' r='1'/%3E%3Ccircle class='cls-1' cx='4' cy='12' r='1'/%3E%3Ccircle class='cls-1' cx='4' cy='8' r='1'/%3E%3Ccircle class='cls-1' cx='4' cy='4' r='1'/%3E%3Ccircle class='cls-1' cx='8' cy='8' r='1'/%3E%3Ccircle class='cls-1' cx='8' cy='4' r='1'/%3E%3Ccircle class='cls-1' cx='12' cy='8' r='1'/%3E%3Ccircle class='cls-1' cx='12' cy='4' r='1'/%3E%3C/svg%3E");
}

.icon.icon-consec {
  mask-image: url("data:image/svg+xml,%3Csvg id='ui' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M11.93,0H4.07A4.07,4.07,0,0,0,0,4.07v7.86A4.07,4.07,0,0,0,4.07,16h7.86A4.07,4.07,0,0,0,16,11.93V4.07A4.07,4.07,0,0,0,11.93,0ZM14.5,11.93a2.57,2.57,0,0,1-2.57,2.57H4.07A2.57,2.57,0,0,1,1.5,11.93V4.07A2.57,2.57,0,0,1,4.07,1.5h7.86A2.57,2.57,0,0,1,14.5,4.07Z'/%3E%3Crect class='cls-1' x='4.16' y='7.43' width='6.91' height='1.5'/%3E%3Cpolygon class='cls-1' points='8.15 12.54 7.09 11.48 10.39 8.18 7.09 4.88 8.15 3.82 12.51 8.18 8.15 12.54'/%3E%3C/svg%3E");
}

.icon-c-clickable {
  background-color: #5f7694;
}

.icon-c-warning {
  background-color: #916363;
}
/*# sourceMappingURL=index.e60e6827.css.map */
