// @use "vars";

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.icon {
    display: block;
    margin: 0 auto;

    width: 60%;
    height: 60%;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;

    &::before {
        display: block;
        width: 100%;
    }

    &.icon-inline {
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;

        vertical-align: baseline;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }
    &.icon-inline::before {
        content: "";
        display: inline-block;
    }

    $icons: (
        "trash": "svg/16px/symbols/remove.svg",
        "warning": "svg/16px/symbols/warning.svg",

        "tree-menu": "svg/16px/symbols/tree-menu-shown.svg",

        "undo": "svg/16px/symbols/undo.svg",
        "screenshot": "svg/large/screenshot.svg",
        "delete": "svg/16px/symbols/x.svg",
        "add": "svg/16px/symbols/add.svg",
        "pencil": "svg/16px/symbols/cosmetic.svg",
        "location": "svg/16px/symbols/local.svg",

        "computer": "svg/16px/symbols/computer.svg",
        "globe": "svg/16px/symbols/globe.svg",

        "colors": "svg/large/colors.svg",

        "positive-diagonal": "svg/16px/global-constraints/diagonal-up-constraint.svg",
        "negative-diagonal": "svg/16px/global-constraints/diagonal-down-constraint.svg",
        "knight": "svg/16px/global-constraints/knight-constraint.svg",
        "king": "svg/16px/global-constraints/king-constraint.svg",
        "disjoint": "svg/16px/global-constraints/disjoint-constraint.svg",
        "consec-orth": "svg/16px/global-constraints/consec-constraint.svg",
        "consec-diag": "svg/16px/global-constraints/consec-diagonal-constraint.svg",
        "taxi": "svg/16px/global-constraints/taxi-constraint-1.svg",
        "cityblock": "svg/16px/global-constraints/taxi-constraint-2.svg",

        "thermo": "svg/16px/local-constraints/thermo-constraint.svg",
        "arrow": "svg/16px/local-constraints/arrow-constraint.svg",
        "between": "svg/16px/local-constraints/between-constraint.svg",
        "palindrome": "svg/16px/local-constraints/palindrome-constraint.svg",
        "whisper": "svg/16px/local-constraints/whisper-constraint.svg",
        "renban": "svg/16px/local-constraints/renban-constraint.svg",

        "given": "svg/16px/local-constraints/digit-constraint.svg",
        "quadruple": "svg/16px/local-constraints/quad-constraint.svg",
        "kropki": "svg/16px/local-constraints/kropki-constraint.svg",
        "xv": "svg/16px/local-constraints/xv-constraint.svg",
        "min": "svg/16px/local-constraints/min-constraint.svg",
        "max": "svg/16px/local-constraints/max-constraint.svg",
        "odd-even": "svg/16px/local-constraints/odd-even-constraint.svg",
        "sandwich": "svg/16px/local-constraints/sandwich-constraint.svg",
        "skyscraper": "svg/16px/local-constraints/skyscraper-constraint.svg",
        "killer": "svg/16px/local-constraints/killer-constraint.svg",
        "little-killer": "svg/16px/local-constraints/little-killer-constraint.svg",
    );

    @each $name, $path in $icons {
        &.icon-#{$name} {
            mask-image: inline-svg($path);
            -webkit-mask-image: inline-svg($path);
        }
    }

    &.icon-undo.redo {
        transform: scaleX(-1);
    }
}

.icon-c-text {
    background-color: #000;
}
.icon-c-textinv {
    background-color: #fff;
};
.icon-c-clickable {
    background-color: $color-clickable;
}
.icon-c-warning {
    background-color: $color-warning;
}

.hoverable .hoverable-icon.icon-c-clickable:hover {
    background-color: $color-clickable-light;
}
