$header-height: 2.5rem;
$footer-height: 1.5rem;

$content-gap: 2rem;
$content-margin: 3rem;

$sudoku-size-big: min(calc(70vw - 20em), calc(100vh - #{$header-height + $footer-height}));
$sudoku-size-small: min(calc(100vw - #{2 * $content-margin}), 50vh);

$max-aspect-ratio: 1.8;
$font-size: max(16px, calc(12px + min(0.5vw, #{0.5vh * $max-aspect-ratio})));

$font-weight-normal: 500;
$font-weight-heavy: 800;


$color-clickable: #637691;
$color-clickable-light: #778dad;
$color-disabled: adjust-color($color-clickable, $saturation: -100%);
$color-selected: #f5f5fe;
$transition-time: 0.2s;

$color-warning: #916363;

@mixin breakpoint-mobile {
    @media (max-width: 800px) and (max-aspect-ratio: 5/4),
        (max-width: 600px)
    {
        @content;
    }
}


$hoverborder-size: 0.1rem;
$hoverborder-transition-time: 0.1s;
$hoverborder-radius: 0.3rem;
@mixin hoverborder {
    border-radius: $hoverborder-radius;
    border: $hoverborder-size solid transparent;
    transition: border-color $hoverborder-transition-time linear;
}
@mixin hoverborder-hover {
    border-color: $color-clickable;
}

@mixin gap($size) {
    > * {
        margin-right: $size;
        &:last-child {
            margin-right: 0;
        }
    }
}
