// @use "vars";

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.icon {
    display: block;
    &::before {
        display: block;
        width: 100%;
    }

    &.icon-inline {
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;

        position: relative;
        vertical-align: baseline;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }
    &.icon-inline::before {
        content: "";
        display: inline-block;
    }

    $icons: (
        "trash": "svg/16px/symbols/remove.svg",
        "warning": "svg/16px/symbols/warning.svg",

        "tree-menu": "svg/16px/symbols/tree-menu-shown.svg",

        "positive-diagonal": "svg/16px/global-constraints/diagonal-up-constraint.svg",
        "negative-diagonal": "svg/16px/global-constraints/diagonal-down-constraint.svg",
        "knight": "svg/16px/global-constraints/knight-constraint.svg",
        "king": "svg/16px/global-constraints/king-constraint.svg",
        "disjoint": "svg/16px/global-constraints/disjoint-constraint.svg",
        "nonconsecutive": "svg/16px/global-constraints/consec-constraint.svg",
    );

    @each $name, $path in $icons {
        &.icon-#{$name} {
            mask-image: inline-svg($path);
            -webkit-mask-image: inline-svg($path);
        }
    }
}

.icon-c-clickable {
    background-color: $color-clickable;
}
.icon-c-warning {
    background-color: $color-warning;
}
