// @import "./debug.scss";
@import "./vars.scss";
@import "./icons.scss";
@import "./checkbox.scss";

html {
    font-size: $font-size;
    font-family: 'Mulish', 'Muli', sans-serif;
    font-weight: $font-weight-normal;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

// Flexbox shared between header and main.
.content {
    max-width: $max-aspect-ratio * 100vh;
    margin: 0 auto;
    display: flex;
    flex: 1;
}
.content-row {
    display: flex;
    flex: 1;

    margin: 0 $content-margin;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: $content-gap;
}

.hide {
    display: none;
}

.nolist {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nobutton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: inline-block;
    font-size: 1em;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}
