// @import "./debug.scss";
@import "./vars.scss";
@import "./icons.scss";
@import "./checkbox.scss";

html {
    font-size: max(16px, calc(12px + min(0.5vw, #{0.5vh * $max-aspect-ratio})));
    font-family: 'Mulish', 'Muli', sans-serif;
    font-weight: $font-weight-normal;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.nolist {
    padding: 0;
    list-style-type: none;
}

// Flexbox shared between header and main.
.content {
    max-width: $max-aspect-ratio * 100vh;
    margin: 0 auto;
    display: flex;
    flex: 1;
}
.content-row {
    display: flex;
    flex: 1;

    margin: 0 $content-margin;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
